* {
  cursor: none;
}

.cursor-dot {
  position: fixed;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  background: radial-gradient(circle, #f58080, #dd0d22);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
}

.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 2px solid #bf0707;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9998;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  transition: width 0.2s ease, height 0.2s ease, border 0.2s ease;
}

a:hover ~ .cursor-outline,
button:hover ~ .cursor-outline {
  border-color: #00ffff;
}

a:hover ~ .cursor-dot,
button:hover ~ .cursor-dot {
  background: #00ffff;
}
